<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choices</title>
</head>
<body>
    <h1>Choices</h1>
    <p>Choose Yes or No for each subtopic:</p>
    <form method="post">
        {% csrf_token %}
        {% for subtopic in subtopics %}
            <label for="{{ subtopic }}">{{ subtopic }}</label><br>
            <input type="radio" id="{{ subtopic }}_yes" name="{{ subtopic }}" value="Yes">
            <label for="{{ subtopic }}_yes">Yes</label>
            <input type="radio" id="{{ subtopic }}_no" name="{{ subtopic }}" value="No">
            <label for="{{ subtopic }}_no">No</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
